@media screen and (max-width: 576px) {
  #logo {
    position: relative;
    bottom: 45%;
    height: 200px;
    width: 200px;
  }
}

html, body {
  background-color: #f0f0f0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

#nav-and-subtitle {
  margin: 0;
}

#codeup-design {
  margin: 0 0 15px 0;
  font-size: 3.2em;
}

#nav-container {
  padding: 0;
  display: inline;
  /*font-size: 2.2em;*/
  margin: 0 auto;
}

.nav-item {
  display: inline;
  margin: 0;
}

#logo-container {
  background-color: #fff;
  margin: 70px 0 50px 0;
  height: 110px;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.abel {
  font-family: 'Abel', sans-serif;
}

.nav-anchor {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:focus {
  color: black;
}

.circle {
  margin: 10px;
  text-align: center;
  color: #fff;
  border: 8px solid #fff;
  border-radius: 50%;
  padding: 30px 0;
  display: inline;
}

.interior-circle-container {
  display: inline;
  margin: 0 auto;
  width: 100%;
}

.blue {
  background-color: #00aba9;
}

.red {
  background-color: #e6563b;
}

.orange {
  background-color: #eb9d3a;
}

.green {
  background-color: #7cb06c;
}

.small-circle {
  padding: 5px;
  font-weight: bold;
  border-radius: 50%;
}

.row {
  margin: 0;
}



@media screen and (min-width: 577px) {
  /*#logo {*/
    /*bottom: 28px;*/
    /*position: relative;*/
    /*height: 105px;*/
  /*}*/
}